<a href="https://colab.research.google.com/github/namgyu123/OSS123/blob/main/%EA%B3%B5%ED%95%99%EC%9A%A9%EA%B3%84%EC%82%B0%EA%B8%B0%EC%9E%85%EB%8B%88%EB%8B%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
slider_value = 142  # @param {type: "slider", min: 100, max: 200}
x = 300  # @param {type: "number"}
y = 200  # @param {type: "number"}
date = '2010-11-05'  # @param {type: "date"}
pick_me = "monday"  # @param ['monday', 'tuesday', 'wednesday', 'thursday']
select_or_input = "apples" # @param ["apples", "bananas", "oranges"] {allow-input: true}

#지수값 구하기

In [5]:
x = 2

x6 = x*x*x*x*x*x
x6

if x6 > 2000000:
  print("너무 큰수를 입력하셨습니다.")

In [6]:
x6

64