<a href="https://colab.research.google.com/github/namgyu123/OSS123/blob/main/%EC%84%9C%EC%9A%B8%EC%8B%9C_%EC%A7%80%ED%95%98%EC%B2%A0%ED%98%B8%EC%84%A0%EB%B3%84_%EC%97%AD%EB%B3%84_%EC%8A%B9%ED%95%98%EC%B0%A8_%EC%9D%B8%EC%9B%90_%EC%A0%95%EB%B3%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns  # 옵션, 그래프 예쁘게

In [27]:
df = pd.read_csv('CARD_SUBWAY_MONTH_202505 (1).csv', encoding='utf-8')
df.head(50)   # 앞 20행 보기

         사용일자         노선명     역명  승차총승객수    하차총승객수  등록일자
20250501  분당선          야탑  17571   18765  20250504   NaN
20250501  8호선          석촌   6970    8042  20250504   NaN
20250501  분당선          서현  16548   17173  20250504   NaN
20250501  경부선          독산   8851    8507  20250504   NaN
20250501  경부선          수원  35103   38426  20250504   NaN
20250501  경부선          화서  10324   10207  20250504   NaN
20250501  경부선        성균관대  11786   11100  20250504   NaN
20250501  경부선          의왕   5472    5457  20250504   NaN
20250501  경부선          군포   3742    3622  20250504   NaN
20250501  경부선          금정  18276   18354  20250504   NaN
20250501  경부선          명학   4402    4266  20250504   NaN
20250501  경부선          안양  18086   17551  20250504   NaN
20250501  경부선          세류   2587    2577  20250504   NaN
20250501  경부선          병점  11845   12024  20250504   NaN
20250501  경부선          세마   2558    2408  20250504   NaN
20250501  분당선          수내   8616    8439  20250504   NaN
20250501  분당선          정자   9866   10684  20250504   NaN
20250501  분당선          미금  10308   10587  20250504   NaN
20250501  분당선          오리   6946    5957  20250504   NaN
20250501  분당선          이매   4462    3968  20250504   NaN
20250501  분당선          보정   1667    1526  20250504   NaN
20250501  분당선          죽전  11494   12426  20250504   NaN
20250501  분당선          구성   4593    5003  20250504   NaN
20250501  분당선          신갈   2938    2936  20250504   NaN
20250501  분당선          기흥   7818    7460  20250504   NaN
20250501  분당선          상갈   3738    3838  20250504   NaN
20250501  분당선          청명   3218    3156  20250504   NaN
20250501  분당선          영통   7922    7515  20250504   NaN
20250501  분당선          망포   9854    9870  20250504   NaN
20250501  분당선        매탄권선   4120    3807  20250504   NaN
20250501  분당선        수원시청  10252   10774  20250504   NaN
20250501  분당선          매교   3819    3799  20250504   NaN
20250501  분당선          복정      6       0  20250504   NaN
20250501  경춘선         퇴계원   2517    2329  20250504   NaN
20250501  경춘선          별내   1875    1748  20250504   NaN
20250501  경춘선          갈매   1770    1589  20250504   NaN
20250501  경춘선          신내   1917    1859  20250504   NaN
20250501  경인선          도화   2938    2769  20250504   NaN
20250501  경인선          중동   6413    6007  20250504   NaN
20250501  경인선  온수(성공회대입구)   5329    4955  20250504   NaN
20250501  경인선          도원   2707    2739  20250504   NaN
20250501  경인선          간석   4307    4181  20250504   NaN
20250501  경인선          부개   6224    5883  20250504   NaN
20250501  경인선          소사   5272    4999  20250504   NaN
20250501  경인선          구일  10648   11435  20250504   NaN
20250501  경인선          인천   3040    2506  20250504   NaN
20250501  경인선         동인천   9946    9775  20250504   NaN
20250501  경인선         제물포   7491    7171  20250504   NaN
20250501  경인선          주안  15059   13348  20250504   NaN
20250501  경인선          동암  10979   11119  20250504   NaN